#app {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 18px;
    width: 100%;
    margin: auto;
}

.single-game {
    margin: 9px;
}

.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.game-image {
    width: 8rem;
}

.big-image {
    width: 16rem;
}

.big-image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    grid-column: span 2;
    grid-row: span 2;
    cursor: pointer;
}

@media (max-width: 1200px) {
    #app {
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 14px;
    }

    .single-game {
        margin: 7px;
    }

}

@media (max-width: 768px) {
    #app {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 8px;
    }

    .single-game {
        margin: 4px;
    }

}